{% extends 'base.html.twig' %}

{% block main %}

    <main>

        <section>

            <article class="contact-desc">
                <h2>
                    Do you have any questions or problems? If yes, do not hesitate to contact us on the various platforms where we
                    are present.
                </h2>

                <h3>Please do not email us for any unban / unmute request</h3>
            </article>

            <article class="contact">

                <ul class="contact-items">
                    <ul class="contact-items-expand">
                        <li><i class="fal fa-at"></i></li>

                        <li>
                            <h3>Mail</h3>
                            <h4>
                                Contact this email address for any professional request
                            </h4>
                            <h5>direction@naurellia.com</h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fal fa-at"></i></li>

                        <li>
                            <h3>Mail</h3>
                            <h4>
                                Contact this email address if you have a problem with the store, a purchase or the website
                            </h4>
                            <h5>support@naurellia.com</h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fab fa-discord"></i></li>
                        <li>
                            <h3>Discord</h3>
                            <h4>
                                You can join our Discord server to get in-game support, you can also be notified when there is an update
                                or
                                problem.
                                Finally, for any unban request, you will have to create a ticket on the server.
                            </h4>
                            <h5>
                                <a href="https://discord.gg/64ncf5HZSQ" target="_blank">
                                    Click here to access the invitation link
                                </a>
                            </h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fab fa-instagram"></i></li>
                        <li>
                            <h3>Instagram</h3>
                            <h4>
                                You can subscribe to our
                                Instagram to follow our actions and the evolution of
                                the evolution of NaurelliaCraft.
                            </h4>
                            <h5>
                                <a href="#" target="_blank">
                                    Not available for the moment
                                </a>
                            </h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fal fa-window-maximize"></i></li>

                        <li>
                            <h3>Website</h3>
                            <h4>
                                You can get more information about us by visiting our main website
                            </h4>
                            <h5><a href="#">www.naurellia.com</a></h5>
                        </li>
                    </ul>

                    <ul class="contact-items-expand">
                        <li><i class="fas fa-share-all"></i></li>

                        <li id="contact-form">
                            <h3>Form</h3>
                            <h4>
                                You can contact us for any suggestion here :
                            </h4>

                            {{ form_start(form_contact) }}
                            {{ form_widget(form_contact) }}
                            <input type="submit" value="Send" id="contact-submit">
                            {{ form_end(form_contact) }}

                        </li>
                    </ul>
                </ul>
            </article>
        </section>

    </main>

{% endblock %}