{% extends 'base.html.twig' %}

{% block title %} | Play{% endblock %}

{% block main %}

    <main>
        <section id="play">
            <h2 class="underline">How to join NaurelliaCraft ?</h2>

            <ul class="play-items">
                <li>Make sure you have purchased Minecraft. <span style="color: #ff0000" class="underline">NaurelliaCraft is not available for cracked versions.</span></li>
                <li>Launch Minecraft on the latest version available</li>
                <li>
                    Go to the "Multiplayer" tab, click on <span class="code">Add a server</span>
                    and in <span class="code">Server Address</span> type the ip :
                    <span class="code">play.naurelliacraft.com</span>
                </li>
                <li>Now, have fun !</li>
            </ul>

        </section>
    </main>

{% endblock %}