{% extends 'base.html.twig' %}

{% block title %} | Play{% endblock %}

{% block main %}

    <main id="wiki">

        <section id="wiki_desc">
            <h2 class="underline">What is NaurelliaCraft ?</h2>
            <p>
                NaurelliaCraft is an Earth-RP server with a medieval-fantasy touch.
                Join the server, create or join a city, then join a nation and fight
                epic battles with medieval weapons and magical powers.
            </p>
            <p>
                On the other hand, if you don't want to fight, then join a peaceful
                city where you can go about other activities such as intensive farming,
                building or just relaxing with friends. Anything is possible here!
            </p>
        </section>

        <section id="h2p" class="reverse">

            <h2 class="underline">How to join NaurelliaCraft ?</h2>

            <p>To join the server, <a href="{{ path('app_default_play') }}" class="underline  colored">click here</a> and follow the few necessary steps</p>

        </section>

        <section id="rules">

            <article id="rules_desc">

                <h2 class="underline">Rules</h2>

                <p>
                    Please respect the rules of the servers. If you don't,
                    you will be punished according to your actions and previous punishments
                    you have suffered.
                </p>
                <p class="underline">
                    The rules are described below with an example of what not to do.
                </p>
            </article>

            <article id="rules_global">

                <h3 class="underline">Global Rules</h3>

                <ul class="rules_items">
                    <li>
                        <nav>
                            <label for="rules__global"><span>Play Fair</span></label>
                            <input type="checkbox" id="rules__global" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Using a mod for an unfair advantage, like a hacked client, auto clicker, or xray.</li>
                                <li>Using an exploit for an unfair advantage, like abusing an unintended game mechanic</li>
                                <li>Using an alternate account for an unfair advantage or to ban evade.</li>
                                <li>Gameplay griefing, like trolling or player trapping.</li>
                                <li>Server griefing, like lagging the server or duping.</li>
                                <li>Trading with real-world money or items.</li>
                            </ul>
                        </nav>
                    </li>

                    <li>
                        <nav>
                            <label for="rules__respect"><span>Be Respectful</span></label>
                            <input type="checkbox" id="rules__respect" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Name-calling or being rude.</li>
                                <li>Discriminating or harassing</li>
                                <li>Threatening or inciting harm.</li>
                                <li>Impersonating or spreading rumors.</li>
                            </ul>
                        </nav>
                    </li>

                    <li>
                        <nav>
                            <label for="rules__appropriate"><span>Be Appropriate</span></label>
                            <input type="checkbox" id="rules__appropriate" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Bypassing the chat filter.</li>
                                <li>Using indecent language or discussing an indecent topic.</li>
                                <li>Discussing a controversial topic like politics in a public chat.</li>
                                <li>Discussing a deeply negative experience like self-harm.</li>
                                <li>Creating anything indecent or naming anything indecently.</li>
                                <li>Spamming in the chat.</li>
                                <li>Non-English chatting in a public chat.</li>
                                <li>Promoting anything non-Naurellia related.</li>
                                <li>Inappropriate username</li>
                            </ul>
                        </nav>
                    </li>
                </ul>

                <h3 class="underline  reverse">Earth Rules</h3>
                <p class="reverse" style="color: #ff0000">The rules do not apply if the town is under siege</p>

                <ul class="rules_items">

                    <li>
                        <nav>
                            <label for="rules__earth"><span>Earth Related</span></label>
                            <input type="checkbox" id="rules__earth" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Targeting new players</li>
                                <li>Spawn-killing.</li>
                                <li>Bypass PVP protection</li>
                                <li>Attacking players if your town is peaceful</li>
                                <li>Destroy the world terrain</li>
                                <li>Unorthodox building</li>
                                <li>Building on the water or in the air</li>
                                <li>Destroy the map, by digging up a desert, cutting down all the trees in a large forest, filling a lake, sea or ocean, destroying mountains</li>
                            </ul>
                        </nav>
                    </li>

                    <li>
                        <nav>
                            <label for="rules__towny"><span>Towny Related</span></label>
                            <input type="checkbox" id="rules__towny" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Claiming too close of another town</li>
                                <li>Abusing the permissions of Co-Mayor / Co-Leader to dismantle and destroy another person's nation.</li>
                                <li>Name your town inappropriately</li>
                                <li>Attacking players if your town is peaceful</li>
                                <li>Griefing</li>
                                <li>Destroy the world terrain</li>
                                <li>Unorthodox building</li>
                                <li>Building on the water or in the air</li>
                            </ul>
                        </nav>
                    </li>

                    <li>
                        <nav>
                            <label for="rules__siege"><span>Siege Related</span></label>
                            <input type="checkbox" id="rules__siege" class="rules_item">

                            <ul class="rules_items_expand">
                                <li><h4>Example of what is not allowed</h4></li>
                                <li>Siege a town underground</li>
                                <li>Underground capping</li>
                                <li>Point feeding</li>
                                <li>Siege to give immunity</li>
                            </ul>
                        </nav>
                    </li>

                    <h4 style="text-align: center; color: #ff0000"> Stealing, killing, scamming is allowed</h4>
                </ul>
            </article>

            <h4 style="text-align: center">We are not affiliated with or endorsed by Mojang Studios.</h4>
        </section>

    </main>

{% endblock %}