{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} NaurelliaCraft | Admin Panel {% endblock %}

{% block page_content %}

    <ul>
        <li style="margin: 15px"><a href="{{ path('app_account', {"account": app.user.username}) }}">Back to your account page</a></li>
        <li style="margin: 15px"><a href="{{ path('app_ingame_shop') }}">Shop Page</a></li>
        <li style="margin: 15px"><a href="{{ path('app_logout') }}">Logout</a></li>
        <li style="margin: 15px"><a href="{{ path('app_api') }}">Api Page</a></li>
    </ul>

{% endblock %}