{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}

    <main>

        <section>

            <h2>Not available at this moment</h2>

        </section>

    </main>

{% endblock %}

